{% extends 'base/base.html' %}

{% load staticfiles %}


{% block title%}
Inicio
{% endblock %}

{% block content %}
  <div class="form">      
        <div id="navigation-section" id="login"><h4 align="center">¡Bienvenido!</h4>
 
      <p align="center">
       <a class="btn btn-outline-primary" href="Usuario/Registrar/"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Registrarse</font></a></p>

          <p align="center">
            <a class="btn btn-outline-primary" href="Usuario/Login/"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;">Iniciar Sesión</font></a></p>
          
    </form>

  </div>
         
{% endblock%}

